<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @rent.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @rent.end_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @rent.notes %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
